body {
  background-color: #fff;
  box-sizing: border-box;
}

main {
  min-height: 94vh;
}

.title {
  color: #000;
  font-size: 4rem;
  text-align: center;
  margin: 0px;
  padding-top: 2rem;
}

.form-title {
  margin: 0rem;
}

.page-footer {
  padding: 0px;
  margin: 0px;
}

.page-footer a {
  margin: 0 20px;
}

.btn-copy {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-copy {
  width: 50px;
}
